body
{
	background:#efefef url(./../images/bg.png) repeat;
}

#logo
{
	margin-bottom: 20px;
}

nav.navbar li
{
	font-weight: bold;
}

div.row img
{
	border: 1px solid #AAAAAA;
}

div.row.gallery img
{
	margin: 10px auto;
}

.img-responsive.pull-right
{
	margin: 5px 0px 10px 10px;
}

.content
{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 6px;
	padding: 20px;
	margin: 0px 0px 20px 0px;
}

.content p
{
	margin-top: 20px;
}

.content h1
{
	margin: 0px auto;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}